h1{
  text-decoration:italic;
  text-align:center;
  }
img {
  display: block;
  margin: auto;
  width: 50%;
}
div{
	border:2px solid black;
	margin-left:50px;
	margin-right:50px;
	background-color:#aef2d0;
}